.container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  background-color: var(--white);
  max-height: 500px;
}
.image {
  max-width: 100%;
}
.text {
  color: var(--gray);
  text-align: center;
  padding: 0 1em 1em;
}
