body {
  background-color: #f4f4f4;
}
.section {
  text-align: center;
  margin: 100px auto;
  background-color: var(--white);
  border: solid medium var(--white);
  border-radius: 12px;
}
.image {
  max-width: 100%;
}
.text {
  color: var(--gray);
  text-align: center;
  padding: 0 1em 1em;
  margin-bottom: 32px;
}
