.main {
  width: 100%;
  padding: 3em 1em 0;
  margin: 0 auto;
}

.image {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.image + h1 {
  color: var(--gray);
  text-align: center;
  font-size: 1.25em;
}
.opaque {
  opacity: 0;
}
.not-opaque {
  opacity: 100;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
@media screen and (min-width: 576px) {
  .main {
    width: calc(80%);
    padding: 3em 0 0;
  }
}

@media screen and (min-width: 768px) {
  .main {
    width: calc(60%);
    padding: 3em 0 0;
  }
}

@media screen and (min-width: 992px) {
  .main {
    width: 50%;
    padding: 3em 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 40%;
    padding: 3em 0 0;
  }
}

@media screen and (min-width: 1670px) {
  .main {
    width: 30%;
    padding: 3em 0 0;
  }
}
