.main {
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}
.list-container {
  list-style-type: none;
}

.list-container > li {
  margin-bottom: 1.5em;
}
@media screen and (min-width: 576px) {
  .main {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .main {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 50%;
  }
}

@media screen and (min-width: 1670px) {
  .main {
    width: 40%;
  }
}
