.button {
  background-color: var(--indigo);
  border-radius: 4px;
  width: 100%;
  padding: 1em;
  color: var(--white);
  outline: transparent;
  border: none;
  margin-top: 1.5rem;
  cursor: pointer;
}
