.wrapper {
  font-family: inherit;
  position: relative;
  margin-top: 1.5em;
}
.flex-1 {
  flex: 1;
  max-width: 10%;
}
.flex-2 {
  flex: 2;
  max-width: 20%;
}
.flex-3 {
  flex: 3;
  max-width: 30%;
}
.flex-4 {
  flex: 4;
  max-width: 40%;
}
.flex-5 {
  flex: 5;
  max-width: 50%;
}
.flex-6 {
  flex: 6;
  max-width: 60%;
}
.flex-7 {
  flex: 7;
  max-width: 70%;
}
.flex-8 {
  flex: 8;
  max-width: 80%;
}
.flex-9 {
  flex: 9;
  max-width: 90%;
}

.input {
  border: 1.5px solid #dadce0;
  border-radius: 4px;
  box-shadow: 0 0 0 transparent;
  font-size: 16px;
  line-height: 24px;
  outline: transparent;
  padding: 11px 16px;
  transition: border 0.3s, box-shadow 0.3s;
  display: inline-block;
  width: 100%;
}
.label {
  color: #727586;
  font-size: 14px;
  left: 16px;
  line-height: 24px;
  margin-bottom: 0;
  max-width: 100%;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-align: left;
  text-overflow: ellipsis;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
  white-space: nowrap;
  width: auto;
  z-index: 10;
}
.label-error {
  top: 25%;
  transform: translateY(-25%);
  color: var(--danger);
}
.label-focus {
  transform: translate(-12px, -35px) scale(0.85);
  padding: 0 1.5px;
  background-color: #fff;
}

.text-error {
  color: var(--danger);
  font-size: 12px;
  line-height: 24px;
  padding: 0 16px;
}
.input-error {
  box-shadow: 0 0 0 var(--danger);
  border: 1.5px solid var(--danger);
}
.input:focus {
  box-shadow: 0 0 0 var(--primary);
  border: 1.5px solid var(--primary);
}
.paste-wrapper {
  position: relative;
  margin-top: 1em;
}
.paste {
  position: absolute;
  right: 1em;
  top: 0.75em;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 20px;
  border: var(--light) solid 1px;
  background-color: var(--light);
  font-size: 12px;
  color: var(--gray);
}
.loader {
  background-color: var(--gray);
}
.success {
  background-color: var(--ligth);
  color: var(--success);
}
.error {
  color: var(--danger);
  font-size: 14px;
  line-height: 24px;
  padding: 0 16px;
}
.success-img {
  width: 16px;
  height: 16px;
}
.input:disabled {
  background-color: var(--white);
}
