.list {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 1em 0;
}
.number {
  /* border-radius: 50%; */
  /* padding: 1em 0.5em; */
  /* background-color: var(--primary); */
  /* color: var(--white); */
  font-size: 2em;
  margin-right: 0.5em;
}
.checkbox {
  position: absolute;
  bottom: 0;
  right: 1em;
  accent-color: var(--primary);
  width: 1.35em !important;
  height: 1.35em !important;
}
.greyed {
  position: relative;
  padding: 1em;
  background-color: var(--light);
  margin-top: 1em;
  cursor: pointer;
}
.arrow {
  display: block;
  border-right: solid 2px;
  border-bottom: solid 2px;
  position: absolute;
  width: 0.75em;
  height: 0.75em;
  top: 0.625em;
  right: 1em;
  transform: rotate(45deg);
}
.active {
  transform: rotate(-135deg);
}
.illustration {
  width: 100%;
  height: auto;
  border-bottom: solid var(--light) 1.5em;
}
