.spinner-box {
  position: absolute;
  top: calc((100vh - 150px) / 2);
  left: calc((100vw - 200px) / 2);
  z-index: 100;
  text-align: center;
  width: 200px;
  max-height: 150px;
}
.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid var(--gray);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.center {
  margin: 0 auto 1.5em;
  border: 10px solid var(--white);
  border-bottom-color: transparent;
}
.spinner-box .text {
  color: var(--white);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
}
.spinner-sm {
  width: 12px;
  height: 12px;
  border: 2px solid var(--white);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-wrapper {
  margin-right: 120px;
  display: inline-block;
}
.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 var(--gray), 24px 0 #fff;
  }
  66% {
    background: var(--gray);
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 var(--gray);
  }
}
