.container {
  margin-bottom: 1.5em;
  padding-right: 1em;
}
.container-error {
  margin-bottom: 0.5em;
}
.error-text {
  color: var(--danger);
  margin: 0 1em 1em;
  font-size: 0.75em;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.illustration {
  width: 60%;
  min-height: 300px;
}
.file-input {
  display: none;
}
.label {
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 4px 8px;
  background-color: var(--primary);
  color: var(--white);
  display: inline-block;
  cursor: pointer;
  word-wrap: nowrap;
}
.card--text {
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  border-bottom: 2px solid var(--secondary);
}
.text--error {
  color: var(--danger);
  border-bottom-color: var(--danger);
}
.uploading {
  background-color: var(--primary);
  border: none;
  padding: 0.5em 1em;
  color: var(--white);
  border-radius: 5px;
}
.card--uploaded {
  background-color: var(--gray);
  min-width: 50%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.uploaded--box {
  border: solid var(--gray);
  padding: 4px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--light);
}
.uploaded--text {
  color: var(--gray);
  text-transform: uppercase;
}
.uploaded--icon {
  width: 24px;
  height: 30px;
}
