.main {
  width: 100%;
  padding: 3em 20px;
  margin: 0 auto;
}
.opaque {
  opacity: 0;
}
.not-opaque {
  opacity: 100;
}
/* Register Page and Retrieve Page */
@media screen and (min-width: 576px) {
  .main {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .main {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 40%;
  }
}

@media screen and (min-width: 1670px) {
  .main {
    width: 30%;
  }
}
